body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgba(23, 23, 24, 0.409); 
  color: white; 
}
body.white {
  background-color: #f0f0f0; 
  color: black;
}
header {
    background-color: rgba(23, 23, 24, 0.409);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}