.tool-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #a78bfa;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.prof-img{
    width: 40px;
    height: 40px;
    border-radius: 5%;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #34495e;
    margin-top: 10px;
}
.exit-img{
    width: 40px;
    height: 40px;
    border-radius: 5%;
    position: fixed;
    bottom: 20px;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #34495e;
}
.exit-img:hover{
    background-color: #e74c3c;
    cursor: pointer;
}
.prof-img:hover{
    background-color: #139077;
    cursor: pointer;
}
.tool-bar-item {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    background-color: #34495e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tool-bar-item:hover {
    background-color: #1abc9c;
}